<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">



      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}"> Django </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'basicapp:register' %}">Registration</a>
        </li>

        {% if user.is_authenticated %}
        <li> <a class="nav-link" href="{% url 'logout' %}">LogOut</a> </li>
        {% else %}
          <li> <a class="nav-link" href="{% url 'basicapp:user_login' %}"> LogIn </a> </li>
          {% endif %}
      </ul>

  </nav>
</div>



<div class="container">
{% block body_block %}

    {% endblock %}
</div>





  </body>
</html>
